In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from optbinning import OptimalBinning
from sklearn.model_selection import train_test_split


from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb


import tensorflow as tf

In [2]:
gn_sub = pd.read_csv("gender_submission.csv")
gn_sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [3]:
train = pd.read_csv("train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test = pd.read_csv("test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## DATA DICTIONARY

### Variable	Definition	Key

survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [5]:
train = train[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived']]

In [6]:
def calculate_woe_iv(data, feature, target):
    """
    Calculates the Weight of Evidence (WOE) and Information Value (IV) for a given feature in a dataset
    """
    # Group the data by the feature and calculate the total count and count of each class
    grouped_data = data.groupby(feature)[target].agg(['count', 'sum'])
    grouped_data.columns = ['Total', 'Positive']

    # Calculate the total count and positive count of the target variable
    total_count = grouped_data['Total'].sum()
    total_positive = grouped_data['Positive'].sum()

    # Calculate the percentage of total count and positive count
    grouped_data['Percentage Total'] = grouped_data['Total'] / total_count
    grouped_data['Percentage Positive'] = grouped_data['Positive'] / total_positive

    # Calculate the WOE and IV
    grouped_data['WoE'] = np.log(grouped_data['Percentage Positive'] / grouped_data['Percentage Total'])
    grouped_data['IV'] = (grouped_data['Percentage Positive'] - grouped_data['Percentage Total']) * grouped_data['WoE']

    # Return the WOE and IV values
    return grouped_data['WoE'], grouped_data['IV'].sum()
    print('WOE:\n', woe)
    print('IV:', iv)

In [7]:
calculate_woe_iv(train,'Parch','Survived')

C:\Users\khann\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

(Parch
 0   -0.110575
 1    0.361236
 2    0.264387
 3    0.446708
 4        -inf
 5   -0.651904
 6        -inf
 Name: WoE, dtype: float64,
 inf)

In [8]:
train['Parch'].isnull().sum()

0

In [9]:
#Unique Values

def n_unique_value(df):
    d1=list(df.columns)
    d2=df.nunique()
    df_uni=pd.DataFrame({'column_name':d1,'n_unique_value':d2}).reset_index(drop=True)
    return df_uni

n_unique_value(train)

    column_name  n_unique_value
0   PassengerId             891
1        Pclass               3
2          Name             891
3           Sex               2
4           Age              88
5         SibSp               7
6         Parch               7
7        Ticket             681
8          Fare             248
9         Cabin             147
10     Embarked               3
11     Survived               2

In [10]:
calculate_woe_iv(train,'Cabin','Survived')

C:\Users\khann\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

(Cabin
 A10        -inf
 A14        -inf
 A16    0.405465
 A19        -inf
 A20    0.405465
          ...
 F33    0.405465
 F38        -inf
 F4     0.405465
 G6    -0.287682
 T          -inf
 Name: WoE, Length: 147, dtype: float64,
 inf)

In [11]:
train['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [12]:
train['Cabin'].isnull().sum()

687

### COVERAGE

In [13]:
def find_coverage(df):
    
    c1=list(df.columns)
    c2=df.count() + df.isnull().sum()
    c3=df.isnull().sum()
    c4=c2-c3
    c5=round((c3/c2),2)
    c6=round((c4/c2),2)
    
    df=pd.DataFrame({'column_name':c1,'overall_total_count':c2,'overall_missing_count':c3,'overall_non_missing_count':c4,'overall_missing_pct':c5,'overall_non_missing_pct':c6}).reset_index(drop=True)
    return df

In [14]:
find_coverage(train)

,column_name,overall_total_count,overall_missing_count,overall_non_missing_count,overall_missing_pct,overall_non_missing_pct
0,PassengerId,891,0,891,0.00,1.00
1,Pclass,891,0,891,0.00,1.00
2,Name,891,0,891,0.00,1.00
3,Sex,891,0,891,0.00,1.00
4,Age,891,177,714,0.20,0.80
5,SibSp,891,0,891,0.00,1.00
6,Parch,891,0,891,0.00,1.00
7,Ticket,891,0,891,0.00,1.00
8,Fare,891,0,891,0.00,1.00
9,Cabin,891,687,204,0.77,0.23
10,Embarked,891,2,889,0.00,1.00
11,Survived,891,0,891,0.00,1.00

### Correlation

In [15]:
def find_correlation(df):
    list_col = df.columns
    cor = df[list_col].corr()
    biz_final_cor = cor.stack().reset_index()
    biz_final_cor.columns = ['column_1','column_2','correlation_coefficient']
    return biz_final_cor

In [16]:
find_correlation(train)

       column_1     column_2  correlation_coefficient
0   PassengerId  PassengerId                 1.000000
1   PassengerId       Pclass                -0.035144
2   PassengerId          Age                 0.036847
3   PassengerId        SibSp                -0.057527
4   PassengerId        Parch                -0.001652
5   PassengerId         Fare                 0.012658
6   PassengerId     Survived                -0.005007
7        Pclass  PassengerId                -0.035144
8        Pclass       Pclass                 1.000000
9        Pclass          Age                -0.369226
10       Pclass        SibSp                 0.083081
11       Pclass        Parch                 0.018443
12       Pclass         Fare                -0.549500
13       Pclass     Survived                -0.338481
14          Age  PassengerId                 0.036847
15          Age       Pclass                -0.369226
16          Age          Age                 1.000000
17          Age        SibSp                -0.308247
18          Age        Parch                -0.189119
19          Age         Fare                 0.096067
20          Age     Survived                -0.077221
21        SibSp  PassengerId                -0.057527
22        SibSp       Pclass                 0.083081
23        SibSp          Age                -0.308247
24        SibSp        SibSp                 1.000000
25        SibSp        Parch                 0.414838
26        SibSp         Fare                 0.159651
27        SibSp     Survived                -0.035322
28        Parch  PassengerId                -0.001652
29        Parch       Pclass                 0.018443
30        Parch          Age                -0.189119
31        Parch        SibSp                 0.414838
32        Parch        Parch                 1.000000
33        Parch         Fare                 0.216225
34        Parch     Survived                 0.081629
35         Fare  PassengerId                 0.012658
36         Fare       Pclass                -0.549500
37         Fare          Age                 0.096067
38         Fare        SibSp                 0.159651
39         Fare        Parch                 0.216225
40         Fare         Fare                 1.000000
41         Fare     Survived                 0.257307
42     Survived  PassengerId                -0.005007
43     Survived       Pclass                -0.338481
44     Survived          Age                -0.077221
45     Survived        SibSp                -0.035322
46     Survived        Parch                 0.081629
47     Survived         Fare                 0.257307
48     Survived     Survived                 1.000000

In [17]:
# One-hot encode "Embarked" column
embarked_onehot = pd.get_dummies(train['Embarked'], prefix='Embarked')
train = pd.concat([train, embarked_onehot], axis=1)

# One-hot encode "Sex" column
sex_onehot = pd.get_dummies(train['Sex'], prefix='Sex')
train = pd.concat([train, sex_onehot], axis=1)

pclass_onehot = pd.get_dummies(train['Pclass'], prefix='Pclass')
train = pd.concat([train, pclass_onehot], axis=1)


# Drop the original "Embarked" and "Sex" columns
train = train.drop(['Embarked', 'Sex','Pclass'], axis=1)

# Print the updated DataFrame
print(train.head())

   PassengerId                                               Name   Age  \
0            1                            Braund, Mr. Owen Harris  22.0
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2            3                             Heikkinen, Miss. Laina  26.0
3            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4            5                           Allen, Mr. William Henry  35.0

   SibSp  Parch            Ticket     Fare Cabin  Survived  Embarked_C  \
0      1      0         A/5 21171   7.2500   NaN         0           0
1      1      0          PC 17599  71.2833   C85         1           1
2      0      0  STON/O2. 3101282   7.9250   NaN         1           0
3      1      0            113803  53.1000  C123         1           0
4      0      0            373450   8.0500   NaN         0           0

   Embarked_Q  Embarked_S  Sex_female  Sex_male  Pclass_1  Pclass_2  Pclass_3
0           0           1           0         1         0         0         1
1           0           0           1         0         1         0         0
2           0           1           1         0         0         0         1
3           0           1           1         0         1         0         0
4           0           1           0         1         0         0         1

In [18]:
#from sklearn.preprocessing import MinMaxScaler

#scaler = MinMaxScaler()
#fare_scaled = scaler.fit_transform(train['Fare'].values.reshape(-1, 1))

# Replace the "fare" column with the scaled values
#train['Fare'] = fare_scaled

In [19]:
train['Age'] = train['Age'].round()
train['Age'].value_counts()

24.0    32
22.0    27
28.0    27
30.0    27
18.0    26
        ..
53.0     1
80.0     1
12.0     1
0.0      1
74.0     1
Name: Age, Length: 71, dtype: int64

In [20]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent')
imputer.fit(train[["Age"]])

train[["Age"]] = imputer.transform(train[["Age"]])

In [21]:
def calculate_metrics(df, x):
    acc = accuracy_score(df['survived'], df[x])
    prec = precision_score(df['survived'], df[x])
    rec = recall_score(df['survived'], df[x])
    f1 = f1_score(df['survived'], df[x])
    auc = roc_auc_score(df['survived'], df[x])
    
    print(f" Accuracy is {acc}")
    print(f" Precision is {prec:2f}")
    print(f" Recall is {rec:2f}")
    print(f" F1-Score is {f1:2f}")
    print(f" AUC score is {auc:2f}")

In [22]:
target = ['Survived']

In [23]:
train

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Survived,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,1,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,0,0,0,1,0,1,0,0,1
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,1,1,0,0,1,0,1,0,0
2,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,0,0,1,1,0,0,0,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,1,0,0,1,1,0,1,0,0
4,5,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,0,0,0,1,0,1,0,1,0
887,888,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,1,0,0,1,1,0,1,0,0
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",24.0,1,2,W./C. 6607,23.4500,NaN,0,0,0,1,1,0,0,0,1
889,890,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,1,1,0,0,0,1,1,0,0
890,891,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,0,0,1,0,0,1,0,0,1

In [24]:
features = ['Pclass_1','Pclass_2','Pclass_3','Age','SibSp','Parch','Fare','Embarked_C','Embarked_Q','Embarked_S','Sex_female','Sex_male']

In [25]:
train[features]

,Pclass_1,Pclass_2,Pclass_3,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,0,0,1,22.0,1,0,7.2500,0,0,1,0,1
1,1,0,0,38.0,1,0,71.2833,1,0,0,1,0
2,0,0,1,26.0,0,0,7.9250,0,0,1,1,0
3,1,0,0,35.0,1,0,53.1000,0,0,1,1,0
4,0,0,1,35.0,0,0,8.0500,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,1,0,27.0,0,0,13.0000,0,0,1,0,1
887,1,0,0,19.0,0,0,30.0000,0,0,1,1,0
888,0,0,1,24.0,1,2,23.4500,0,0,1,1,0
889,1,0,0,26.0,0,0,30.0000,1,0,0,0,1
890,0,0,1,32.0,0,0,7.7500,0,1,0,0,1

In [26]:
X = train[['Pclass_1','Pclass_2','Pclass_3','Age','SibSp','Parch','Fare','Embarked_C','Embarked_Q','Embarked_S','Sex_female','Sex_male']]
y = train['Survived']

In [27]:
X

,Pclass_1,Pclass_2,Pclass_3,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,0,0,1,22.0,1,0,7.2500,0,0,1,0,1
1,1,0,0,38.0,1,0,71.2833,1,0,0,1,0
2,0,0,1,26.0,0,0,7.9250,0,0,1,1,0
3,1,0,0,35.0,1,0,53.1000,0,0,1,1,0
4,0,0,1,35.0,0,0,8.0500,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,1,0,27.0,0,0,13.0000,0,0,1,0,1
887,1,0,0,19.0,0,0,30.0000,0,0,1,1,0
888,0,0,1,24.0,1,2,23.4500,0,0,1,1,0
889,1,0,0,26.0,0,0,30.0000,1,0,0,0,1
890,0,0,1,32.0,0,0,7.7500,0,1,0,0,1

In [28]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

## SPLITTING X AND Y IN TRAIN AND VAL SET

In [29]:
# Split dataset into training and test sets (80/20 split)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

In [30]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)
X_train = pca.fit_transform(X_train)
X_val = pca.transform(X_val)

In [31]:
X_train.shape

(623, 2)

In [32]:
X_val.shape

(268, 2)

In [36]:
#train2 = X_train.copy()
#train2['survived'] = y_train

#val = X_val.copy()
#val['survived'] = y_val

In [37]:
X_list = ['Pclass_1','Pclass_2','Pclass_3','Age','SibSp','Parch','Fare','Embarked_C','Embarked_Q','Embarked_S','Sex_female','Sex_male']
y_list = ['survived']

In [38]:
X_train

array([[ 49.28487896, -25.65074144],
       [-24.06555141,  -3.47939839],
       [-21.50050225, -26.5970317 ],
       ...,
       [-17.34540512,  13.27446794],
       [ 87.71132649, -16.81690564],
       [ 45.21627376,  -8.51937118]])

In [39]:
X_val

array([[-1.67094532e+01, -3.73525189e+00],
       [-2.12524303e+01,  3.44866277e+00],
       [-2.41547910e+01, -7.47671612e+00],
       [ 5.03141454e-01, -2.22122276e+01],
       [-2.10078895e+01, -1.36038389e+01],
       [ 4.69258971e+01, -3.56563573e+00],
       [-2.42077876e+01, -3.48659288e+00],
       [-1.41957096e+01, -1.18183030e+01],
       [-2.44446391e+01, -1.14795037e+01],
       [-5.81658733e+00, -9.03001515e+00],
       [ 2.15142945e+01,  8.16837437e+00],
       [-2.33192957e+01,  1.64983251e+01],
       [-6.48566423e+00, -4.08829777e+00],
       [-2.45557348e+01,  2.53155173e+00],
       [-1.86055823e+01,  8.37040540e+00],
       [ 7.20180011e+00, -1.24032456e+01],
       [ 2.11167852e+01,  1.31800615e+01],
       [-2.41286251e+01, -3.48893171e+00],
       [-1.88720403e+01, -6.21619319e-01],
       [ 2.07072401e+01,  1.82158017e+01],
       [-2.40655514e+01, -3.47939839e+00],
       [-5.11558789e+00,  5.97887688e+00],
       [-2.42484129e+01, -8.50469233e+00],
       [-2.28554068e+01, -7.51510598e+00],
       [-1.74644798e+01, -3.67442479e+00],
       [-4.46783830e+00, -1.81520566e+01],
       [-3.76504363e+00,  1.19354433e+01],
       [-1.87536145e+01,  3.37483611e+00],
       [-4.64547692e+00, -2.41467397e+01],
       [-2.38967755e+01,  3.50847897e+00],
       [-2.42135836e+01, -8.47496768e+00],
       [-2.42673841e+01, -5.48046866e+00],
       [-1.26515589e+00, -4.13823211e+00],
       [-2.44080765e+01, -3.47633481e+00],
       [-2.40890631e+01, -9.47863517e+00],
       [-1.74151387e+01, -7.03077911e-01],
       [ 3.65253385e+00, -2.80105694e-01],
       [-2.42077876e+01, -3.48659288e+00],
       [-7.80350253e-01,  1.84031969e+00],
       [-2.40655514e+01, -3.47939839e+00],
       [ 4.14289418e+01, -8.45051753e+00],
       [-2.47634767e+01,  1.51746695e+00],
       [-2.39114245e+01, -3.48395202e+00],
       [-2.42108987e+01, -3.47944477e+00],
       [-1.68794718e+01,  1.72861725e+01],
       [ 2.17773319e+00, -1.23124304e+01],
       [-2.39512079e+01, -8.48271948e+00],
       [-2.27665875e+01, -4.51776441e+00],
       [-2.49109507e+01, -3.45442136e+00],
       [ 8.22881046e+01,  2.73701087e+01],
       [-1.32546252e+01, -2.28678601e+01],
       [ 6.23456444e+01,  2.19434394e+01],
       [-3.58036527e+00,  1.18460573e+01],
       [ 8.76193961e+01, -1.98070991e+01],
       [-2.29970348e+01,  3.74842234e+01],
       [ 4.74952263e+01, -1.16050830e+01],
       [-2.12228238e+01,  4.44777663e+00],
       [ 2.16233292e+02,  1.54171383e+01],
       [-1.06358673e+01,  7.12789813e+00],
       [-2.42266810e+01, -8.48597753e+00],
       [-2.42751135e+01, -6.47317266e+00],
       [-1.27832185e+01, -1.48197667e+01],
       [-5.84184097e+00, -3.73571890e-02],
       [-6.03635619e+00, -3.99380504e+00],
       [-2.42108987e+01, -3.47944477e+00],
       [-2.04795518e+01,  2.94184750e+01],
       [ 4.14216621e+01, -8.40290752e+00],
       [-2.39383094e+01,  1.51678513e+00],
       [-2.49295007e+01, -1.04923134e+01],
       [ 4.71189409e+01,  2.24012026e+01],
       [-5.89777402e+00, -2.04704084e+00],
       [ 2.30143609e+02, -1.70522254e+01],
       [-1.90141341e+00, -2.11945696e+00],
       [ 5.16266198e+01,  9.25681434e+00],
       [-2.41367381e+01, -4.47728378e+00],
       [-1.60560601e+01,  8.26012930e+00],
       [-2.40301490e+01,  2.50809026e+00],
       [ 1.74805944e+01, -6.72182029e+00],
       [-1.85432583e+01,  1.03614850e+01],
       [-1.12417057e+01,  1.31117569e+01],
       [ 7.49207659e+00, -1.25178152e+01],
       [-2.13085320e+01,  1.44328694e+00],
       [ 1.02973606e+02,  8.73977380e+00],
       [-2.42233928e+01, -3.47907563e+00],
       [-3.17749908e-01,  2.78334113e+01],
       [ 1.89258371e+01,  4.22646947e+01],
       [ 8.14889222e+01,  3.85993322e-01],
       [ 2.51365670e+01,  1.07461325e+00],
       [-3.15345853e+01,  1.07593714e+01],
       [-2.47110455e+01, -3.46032749e+00],
       [-1.18798708e+01, -1.88619668e+01],
       [-1.11729249e+00, -1.92817895e+01],
       [ 1.45185226e+00,  3.27845355e+01],
       [-2.42316889e+01, -3.47883053e+00],
       [-2.40655514e+01, -3.47939839e+00],
       [-2.39887060e+01,  5.18285512e-01],
       [ 2.07404864e+01,  1.91911105e+01],
       [-2.32896893e+01,  1.74974390e+01],
       [-1.86024712e+01,  8.36325728e+00],
       [-2.39767321e+01, -4.82056821e-01],
       [-4.77713424e+00,  3.59685345e+01],
       [-2.45103155e+01,  7.53361628e+00],
       [ 5.89483591e+01, -1.09479163e+01],
       [-2.44964606e+01,  1.05331726e+01],
       [-2.37337858e+01,  2.51073112e+00],
       [-2.41530479e+01, -2.50052224e+00],
       [ 7.51055796e+00,  1.15566546e+01],
       [ 7.21363504e+00,  1.86144656e+01],
       [-2.22844727e+01,  2.46791166e+00],
       [-4.87397000e-01,  1.18386064e+01],
       [ 2.00330430e+01, -4.79477017e+00],
       [-2.48294712e+01, -7.45678292e+00],
       [ 5.71223269e+01, -5.89402396e+00],
       [-5.31875067e+00,  7.98485639e+00],
       [ 1.89725067e+02, -9.77750924e+00],
       [-2.22349009e+01, -7.53343862e+00],
       [ 4.08287154e+00,  4.27032250e+01],
       [-1.87278629e+01,  8.37055454e+00],
       [-3.01762087e+00, -6.13208826e+00],
       [ 3.12825029e+00,  1.96520650e+01],
       [-2.04791959e+01, -4.63284470e+00],
       [ 4.45491078e+01,  2.50105352e+00],
       [ 4.71336975e+01,  3.34041045e+01],
       [-3.64282720e+00, -2.70939821e+01],
       [-2.46814391e+01, -2.46121364e+00],
       [-5.08332121e+00,  6.97444854e+00],
       [-5.28888614e+00,  2.09767693e+01],
       [ 4.72160675e+01, -5.57059325e+00],
       [-1.74967488e+01, -3.70768868e+00],
       [-2.40002438e+01, -6.48129360e+00],
       [-2.40786488e+01, -3.49040824e+00],
       [-1.67094532e+01, -3.73525189e+00],
       [-3.19547014e+01, -3.23506229e+00],
       [-2.00479318e+01, -2.26049366e+01],
       [ 2.56996181e+01,  2.00411197e+01],
       [-1.77673048e+01, -1.26995923e+01],
       [ 7.88874702e+01, -6.51337019e+00],
       [-2.40382620e+01,  1.51973820e+00],
       [-2.38782717e+01,  1.45148627e+01],
       [-1.43369307e+01, -9.79751225e+00],
       [-2.36171253e+01, -6.49261270e+00],
       [-5.36813798e+00,  1.59484645e+01],
       [-1.88424338e+01,  3.77494539e-01],
       [-5.57849416e+00,  8.96181565e+00],
       [-2.38241729e+00,  1.08116174e+01],
       [ 8.35998411e-01,  5.75392072e+00],
       [-1.87832209e+01,  2.37572225e+00],
       [-2.02162050e+01,  3.84176478e+01],
       [ 1.14511728e+02, -7.58957417e+00],
       [-2.33489022e+01,  1.54992113e+01],
       [-2.32465780e+01, -3.50705828e+00],
       [-2.44653619e+01, -3.46758613e+00],
       [-2.43431427e+01, -9.47112848e+00],
       [-7.81191646e+00, -3.99470075e+00],
       [-2.39114245e+01, -3.48395202e+00],
       [-2.49109507e+01, -3.45442136e+00],
       [ 2.45114266e+01, -4.91458857e+00],
       [-2.41703054e+01, -3.48770028e+00],
       [-5.60498948e+00,  7.95555367e+00],
       [-1.62176876e+01,  4.24219441e+00],
       [-2.47291754e+01, -3.46325545e+00],
       [-5.41165226e+00, -4.01226170e+00],
       [-1.85167630e+01,  1.13677470e+01],
       [ 5.01922112e+01, -5.68927606e+00],
       [-2.35029342e+01, -3.50036133e+00],
       [ 3.12205688e+01,  3.58901606e+01],
       [-2.14892818e+01, -4.54424810e+00],
       [ 1.98956081e+01, -4.79070970e+00],
       [-2.41247643e+01, -5.47762611e+00],
       [-2.45852799e+01,  7.53583108e+00],
       [ 3.13555452e+01, -6.11334715e+00],
       [-1.91288274e+01, -9.64370403e+00],
       [-5.21879804e+00,  7.98190333e+00],
       [-1.71504386e+01, -1.87291079e+01],
       [-2.50432313e+01, -1.04504332e+01],
       [-2.47333734e+01, -3.46313142e+00],
       [-1.47339232e-01,  9.72623737e+00],
       [-2.16638093e+01, -1.05460794e+01],
       [-1.58476199e+01, -2.37640785e+01],
       [-2.81123437e+00,  1.79106584e+01],
       [-1.89904660e+01, -4.61807475e+00],
       [-2.37995137e+01,  4.51265017e+00],
       [-2.40442790e+01, -1.50374721e+00],
       [-1.20611180e+00, -2.22791311e+01],
       [ 2.15460413e+02, -1.05526739e+01],
       [-4.78991708e+00,  1.69691293e+01],
       [-4.09270055e+00,  9.14546230e-01],
       [-2.40655514e+01, -3.47939839e+00],
       [ 3.53410810e+00, -4.27656113e+00],
       [-1.84248326e+01,  1.43579404e+01],
       [-7.45685412e+00,  7.99470967e+00],
       [-1.94190582e+01,  5.39447356e+00],
       [-2.51103579e+01, -1.04721474e+01],
       [-2.23140791e+01,  1.46879781e+00],
       [-5.19085940e+00,  2.19554968e+01],
       [ 5.83407131e+01,  5.07331711e+00],
       [ 1.95888407e+02,  4.02971719e+00],
       [-1.86647952e+01,  6.37217769e+00],
       [ 2.48234294e+01, -1.19362205e+01],
       [-1.05807962e+00, -1.72835618e+01],
       [-2.46276277e+01,  3.35367850e+01],
       [-2.31184649e+01,  2.48549548e+00],
       [-6.21077478e+00, -2.10252377e+01],
       [-2.12168906e+01,  3.54289369e+01],
       [-2.48476011e+01, -7.45971088e+00],
       [-9.59757131e+00, -3.94008777e+00],
       [-2.23307712e+01,  1.46929097e+00],
       [ 8.83595570e+01,  5.17074735e+00],
       [-1.75034998e+01, -3.67673556e+00],
       [-2.31416571e+01,  2.24930083e+01],
       [ 1.79548776e+02, -6.50307014e+00],
       [-2.45334069e+01,  2.53435565e+00],
       [ 5.82818838e+01,  3.07073745e+00],
       [-2.42358869e+01, -3.47870650e+00],
       [-6.48566423e+00, -4.08829777e+00],
       [-1.15297366e+01, -2.59319647e+01],
       [-1.92927526e+00, -3.16427735e+00],
       [ 3.02063629e+01,  2.19202850e+01],
       [-5.93102032e+00, -3.02234969e+00],
       [-2.47110455e+01, -3.46032749e+00],
       [-2.40655514e+01, -3.47939839e+00],
       [-1.89577485e+01, -3.62610901e+00],
       [-1.19254048e+01, -9.87306279e+00],
       [-1.46352339e+00, -4.12890782e+00],
       [-2.48813443e+01, -2.45530750e+00],
       [-1.74518993e+01, -3.69331687e+00],
       [-2.44995866e+01, -5.46655211e+00],
       [ 1.18858386e+02, -3.07299301e+01],
       [-5.96026672e+00, -4.03381262e+00],
       [-2.39740412e+01, -1.48918109e+00],
       [-1.06649450e+01,  6.11212738e+00],
       [ 2.30232428e+02, -1.40548838e+01],
       [-2.42108987e+01, -3.47944477e+00],
       [-2.47260643e+01, -3.47040356e+00],
       [-2.32992146e+01, -3.50203955e+00],
       [-2.42423959e+01, -5.48120692e+00],
       [ 4.91422086e+01,  3.23658976e+01],
       [-2.22951007e+01, -9.53869337e+00],
       [ 1.96006833e+02,  8.02617262e+00],
       [-1.86331556e+01,  2.93666394e+01],
       [-3.21056433e+01, -8.24179948e+00],
       [-5.42735086e+00,  1.39502368e+01],
       [-2.47333734e+01, -3.46313142e+00],
       [-2.34145292e+01, -7.50564310e+00],
       [-2.52244360e+01,  6.55126256e+00],
       [-2.23436856e+01,  4.69683948e-01],
       [-2.39114245e+01, -3.48395202e+00],
       [-2.40951578e+01, -4.47851225e+00],
       [-2.47702584e+01, -5.45855521e+00],
       [-6.34543151e-01,  2.38462802e+01],
       [-1.93077708e+01,  2.37290983e+00],
       [-5.60518080e+00,  7.96359492e+00],
       [-2.42108987e+01, -3.47944477e+00],
       [-2.47883883e+01, -5.46148316e+00],
       [ 1.02414661e+02,  1.87543547e+01],
       [-2.48970959e+01, -4.54864987e-01],
       [-2.39706373e+01, -5.48217974e+00],
       [ 4.67784203e+01,  2.14147382e+01],
       [-2.11043981e+01,  8.44423206e+00],
       [-5.81223454e+00,  9.61756669e-01],
       [ 1.19473033e+02, -9.70897029e+00],
       [ 7.52015782e+01,  1.95785898e+01],
       [-1.84840455e+01,  1.23597127e+01],
       [-2.32103953e+01, -5.04697980e-01],
       [-3.19490754e+01, -3.22822262e+00],
       [-4.19778834e+00,  3.69514065e+01],
       [-2.35064597e+01, -1.04958366e+01],
       [-5.29322651e+00, -1.58062686e-02]])

## Algorithm

### 1. Logistic Regression with Gridsearch

In [ ]:
from sklearn.model_selection import GridSearchCV

#param_grid = {'penalty': ['l1', 'l2'],
              'C': np.logspace(-4, 4, 20),
              'solver': ['lbfgs', 'liblinear', 'sag', 'newton-cg'],
              'multi_class': ['ovr', 'multinomial'],
              'class_weight': [None, 'balanced'],
              'max_iter': [100, 500, 1000]}

In [ ]:
log_reg = LogisticRegression(C= 100,class_weight = None, max_iter= 100, multi_class='multinomial', penalty='l2', solver='lbfgs')

In [ ]:
#grid_search = GridSearchCV(lg, param_grid, cv=5, n_jobs=-1, verbose=1)

In [ ]:
log_reg.fit(train2[X_list], train2[y_list])

# Print the best hyperparameters
#print(grid_search.best_params_)

In [ ]:
train2['prediction_logreg'] = log_reg.predict(train2[X_list])

In [ ]:
#Train - Conf matrix
cm= confusion_matrix(train2['survived'], train2['prediction_logreg'])
cm

In [ ]:
train2['survived'].value_counts()

In [ ]:
train2['prediction_logreg'].value_counts()

In [ ]:
calculate_metrics(train2,'prediction_logreg')

In [ ]:
val['prediction_logreg'] = log_reg.predict(val[X_list])

In [ ]:
calculate_metrics(val,'prediction_logreg')

In [ ]:
train2.head()

In [ ]:
train2['survived'].value_counts()

### XGboost

In [ ]:
xgb = xgb.XGBClassifier()

In [ ]:
#Training the model using train set

xgb.fit(train2[X_list], train2[y_list])

In [ ]:
# Define the XGBoost model
#xgb_model = xgb.XGBClassifier()

# Define the hyperparameters grid to search
#param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.1, 0.2, 0.3],
    'n_estimators': [100, 200, 300],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0]
}

# Define the GridSearchCV object
#grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=5, scoring='accuracy')

# Fit the GridSearchCV object to the training data
#grid_search.fit(train2[X_list], train2[y_list])

# Print the best hyperparameters and corresponding accuracy score
print("Best hyperparameters:", grid_search.best_params_)
print("Best accuracy score:", grid_search.best_score_)

In [ ]:
#train2['prediction_xgb'] = xgb.predict(train2[X_list])

In [ ]:
#calculate_metrics(train2,'prediction_xgb')

In [ ]:
#val['prediction_xgb'] = xgb.predict(val[X_list])

In [ ]:
#calculate_metrics(val,'prediction_xgb')

### KNN

In [ ]:
knn = KNeighborsClassifier(n_neighbors=15, weights = 'uniform')

In [ ]:
# train the classifier using the training set
knn.fit(train2[X_list], train2[y_list])

In [ ]:
# make predictions on the Train set
train2['prediction_KNN'] = knn.predict(train2[X_list])

In [ ]:
calculate_metrics(train2,'prediction_KNN')

In [ ]:
val['prediction_KNN'] = knn.predict(val[X_list])

In [ ]:
calculate_metrics(val,'prediction_KNN')

## SVM

In [ ]:
clf = svm.SVC(kernel='rbf', C=1)

In [ ]:
# train the classifier using the training set
clf.fit(train2[X_list], train2[y_list])

In [ ]:
# make predictions on the Train set
train2['prediction_SVM'] = clf.predict(train2[X_list])

In [ ]:
calculate_metrics(train2,'prediction_SVM')

## Decision Tree

In [ ]:
dct = DecisionTreeClassifier(random_state=42)

In [ ]:
# Train the model using the training data
dct.fit(train2[X_list], train2[y_list])

In [ ]:
# make predictions on the Train set
train2['prediction_DT'] = dct.predict(train2[X_list])

In [ ]:
calculate_metrics(train2,'prediction_DT')

In [ ]:
val['prediction_DT'] = dct.predict(val[X_list])

In [ ]:
calculate_metrics(val,'prediction_DT')

## Random Forest Classifier

In [ ]:
rfc = RandomForestClassifier(n_estimators=100)

In [ ]:
# Train the model using the training data
rfc.fit(train2[X_list], train2[y_list])

In [ ]:
# make predictions on the Train set
train2['prediction_RFC'] = rfc.predict(train2[X_list])

In [ ]:
calculate_metrics(train2,'prediction_RFC')

In [ ]:
val['prediction_RFC'] = rfc.predict(val[X_list])

In [ ]:
calculate_metrics(val,'prediction_RFC')

### GBM

In [ ]:
gbm = GradientBoostingClassifier(n_estimators=100, max_depth=3, random_state=42)

In [ ]:
# Train the model using the training data
gbm.fit(train2[X_list], train2[y_list])

In [ ]:
# make predictions on the Train set
train2['prediction_GBM'] = gbm.predict(train2[X_list])

In [ ]:
calculate_metrics(train2,'prediction_GBM')

In [ ]:
# make predictions on the Train set
val['prediction_GBM'] = gbm.predict(val[X_list])

In [ ]:
calculate_metrics(val,'prediction_GBM')

### DOING SAME TRANSFORMATION TECHNIQUES TEST SET

In [ ]:
# One-hot encode "Embarked" column
embarked_onehot = pd.get_dummies(test['Embarked'], prefix='Embarked')
test = pd.concat([test, embarked_onehot], axis=1)

# One-hot encode "Sex" column
sex_onehot = pd.get_dummies(test['Sex'], prefix='Sex')
test = pd.concat([test, sex_onehot], axis=1)

pclass_onehot = pd.get_dummies(test['Pclass'], prefix='Pclass')
test = pd.concat([test, pclass_onehot], axis=1)

# Drop the original "Embarked" and "Sex" columns
test = test.drop(['Embarked', 'Sex'], axis=1)

# Print the updated DataFrame
print(test.head())

In [ ]:
test['Age'] = test['Age'].round()
test['Age'].value_counts()

In [ ]:
test[["Age"]] = imputer.transform(test[["Age"]])

In [ ]:
test[["Fare"]] = imputer.transform(test[["Fare"]])

In [ ]:
#fare_scaled = scaler.transform(test['Fare'].values.reshape(-1, 1))

# Replace the "fare" column with the scaled values
#test['Fare'] = fare_scaled

In [ ]:
test[features]

In [ ]:
test['prediction_logreg'] = log_reg.predict(test[X_list])

In [ ]:
test['prediction_logreg'].value_counts()

In [ ]:
test['prediction_KNN'] = knn.predict(test[X_list])

In [ ]:
test['prediction_KNN'].value_counts()

In [ ]:
titanic_predv1 = test[['PassengerId','prediction_logreg']]

In [ ]:
titanic_predv1 = titanic_predv1.rename(columns={'prediction_logreg':'Survived'})

In [ ]:
titanic_predv1 = titanic_predv1.to_csv("titanic_predv1.csv")

In [ ]:
test['prediction_GBM'] = gbm.predict(test[X_list])

In [ ]:
titanic_predgbm = test[['PassengerId','prediction_GBM']]

In [ ]:
titanic_predgbm = titanic_predgbm.rename(columns={'prediction_GBM':'Survived'})

In [ ]:
titanic_predgbm = titanic_predgbm.to_csv("titanic_predgbm.csv")