In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

from sklearn.svm import SVC
from sklearn import svm

In [3]:
data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample_sub = pd.read_csv('sample_submission.csv')

In [4]:
data

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0,25.0,0.50,0.25,0.75,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.425011,0.417545,32.460887,4476.81146
1,1,25.0,0.50,0.25,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.444908,0.422051,33.858317,5548.12201
2,2,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.552927,0.470853,38.341781,6869.77760
3,3,12.5,0.25,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.565976,0.478137,39.467561,6880.77590
4,4,25.0,0.50,0.25,0.63,0.63,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.579677,0.494165,40.484512,7479.93417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15284,15284,12.5,0.25,0.25,0.38,0.50,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.556302,0.476308,40.546480,7667.83619
15285,15285,12.5,0.25,0.25,0.25,0.50,86.0,52.0,71.9,62.0,30.0,50.8,34.0,0.56,0.354413,0.388145,29.467434,3680.56025
15286,15286,25.0,0.50,0.25,0.38,0.75,77.4,46.8,64.7,55.8,27.0,45.8,34.0,0.56,0.422548,0.416786,32.299059,4696.44394
15287,15287,25.0,0.50,0.25,0.63,0.63,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.542170,0.434133,36.674243,6772.93347
15288,15288,25.0,0.50,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.492077,0.446576,35.094733,5867.99722

In [5]:
test

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
0,15289,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.399367,0.408088,31.394569
1,15290,12.5,0.25,0.25,0.75,0.63,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.488048,0.442866,36.846956
2,15291,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.583379,0.487057,40.037644
3,15292,25.0,0.50,0.38,0.38,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.433014,0.422847,33.116091
4,15293,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,24.0,0.39,0.360996,0.388860,29.558019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,25478,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.474162,0.437923,34.525258
10190,25479,25.0,0.50,0.25,0.50,0.75,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.482854,0.440676,35.648221
10191,25480,25.0,0.50,0.38,0.50,0.50,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.568854,0.463065,37.724724
10192,25481,12.5,0.25,0.25,0.38,0.50,94.6,57.2,79.0,68.2,33.0,55.9,34.0,0.56,0.407374,0.409261,31.881847
10193,25482,12.5,0.25,0.25,0.50,0.50,77.4,46.8,64.7,55.8,27.0,45.8,1.0,0.10,0.579677,0.486202,40.265408

In [6]:
data.shape, test.shape

((15289, 18), (10194, 17))

In [7]:
data.columns

Index(['id', 'clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'MinOfUpperTRange', 'AverageOfUpperTRange',
       'MaxOfLowerTRange', 'MinOfLowerTRange', 'AverageOfLowerTRange',
       'RainingDays', 'AverageRainingDays', 'fruitset', 'fruitmass', 'seeds',
       'yield'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15289 entries, 0 to 15288
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    15289 non-null  int64
 1   clonesize             15289 non-null  float64
 2   honeybee              15289 non-null  float64
 3   bumbles               15289 non-null  float64
 4   andrena               15289 non-null  float64
 5   osmia                 15289 non-null  float64
 6   MaxOfUpperTRange      15289 non-null  float64
 7   MinOfUpperTRange      15289 non-null  float64
 8   AverageOfUpperTRange  15289 non-null  float64
 9   MaxOfLowerTRange      15289 non-null  float64
 10  MinOfLowerTRange      15289 non-null  float64
 11  AverageOfLowerTRange  15289 non-null  float64
 12  RainingDays           15289 non-null  float64
 13  AverageRainingDays    15289 non-null  float64
 14  fruitset              15289 non-null  float64
 15  fruitmass             15289 non-null  float64
 16  seeds                 15289 non-null  float64
 17  yield                 15289 non-null  float64
dtypes: float64(17), int64(1)
memory usage: 2.1 MB

In [9]:
feat = ['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'MinOfUpperTRange', 'AverageOfUpperTRange',
       'MaxOfLowerTRange', 'MinOfLowerTRange', 'AverageOfLowerTRange',
       'RainingDays', 'AverageRainingDays', 'fruitset', 'fruitmass', 'seeds']
target = ['yield']

In [10]:
data['yield'].describe()

count    15289.000000
mean      6025.193999
std       1337.056850
min       1945.530610
25%       5128.163510
50%       6117.475900
75%       7019.694380
max       8969.401840
Name: yield, dtype: float64

In [11]:
data.isnull().sum()

id                      0
clonesize               0
honeybee                0
bumbles                 0
andrena                 0
osmia                   0
MaxOfUpperTRange        0
MinOfUpperTRange        0
AverageOfUpperTRange    0
MaxOfLowerTRange        0
MinOfLowerTRange        0
AverageOfLowerTRange    0
RainingDays             0
AverageRainingDays      0
fruitset                0
fruitmass               0
seeds                   0
yield                   0
dtype: int64

In [12]:
#ALL SCORES
def scores(y_true, y_pred):
    from sklearn.metrics import mean_absolute_error
    from sklearn.metrics import mean_squared_error
    from sklearn.metrics import r2_score
    
    r2 = r2_score(y_true, y_pred)

    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)

    mae = mean_absolute_error(y_true, y_pred)
    
    print(f" R2 Score is {r2}")
    print (f" Mean Sq Erro is {mse}")
    print (f" Root MSE is {rmse}")
    print (f" Mean Abs Error is {mae}")

In [13]:
X = data[feat]
y = data[target]

In [14]:
# Split dataset into training and test sets (80/20 split)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
train = X_train.copy()
train['yield'] = y_train

val = X_val.copy()
val['yield'] = y_val

In [60]:
#1 LINEAR MODEL
lin_reg = LinearRegression(fit_intercept=True, normalize = False)
lin_reg.fit(train[feat], train[target])

C:\Users\khann\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(

LinearRegression(normalize=False)

In [61]:
# use trained model to make predictions on training data
train['lin_pred'] = lin_reg.predict(train[feat])

In [62]:
# use trained model to make predictions on VAL data
val['lin_pred'] = lin_reg.predict(val[feat])

In [63]:
scores(train[target],train['lin_pred'])

 R2 Score is 0.8128823618793344
 Mean Sq Erro is 333085.2425065593
 Root MSE is 577.1353762390236
 Mean Abs Error is 367.61596737874004

In [64]:
scores(val[target],val['lin_pred'])

 R2 Score is 0.7999246765912015
 Mean Sq Erro is 361160.70288020786
 Root MSE is 600.966474006835
 Mean Abs Error is 380.7478065453796

In [21]:
#2 POLYNOMIAL 
poly = PolynomialFeatures(degree=3)
X_poly = poly.fit_transform(train[feat])

# create LinearRegression object and fit on transformed training data
poly_reg = LinearRegression()
poly_reg.fit(X_poly, train[target])

# use trained model to make predictions on training data
train['poly_pred'] = poly_reg.predict(X_poly)

In [22]:
scores(train[target],train['poly_pred'])

 R2 Score is 0.8353150568273213
 Mean Sq Erro is 293153.14571508806
 Root MSE is 541.4361880361231
 Mean Abs Error is 351.0254793750073

In [23]:
X_poly_val = poly.transform(val[feat])

# use trained model to make predictions on VAL data
val['poly_pred'] = poly_reg.predict(X_poly_val)

In [24]:
scores(val[target],val['poly_pred'])

 R2 Score is -6.310987906976064e+17
 Mean Sq Erro is 1.1392113677581755e+24
 Root MSE is 1067338450426.1877
 Mean Abs Error is 26032840851.457516

In [364]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, mean_absolute_error
from sklearn.datasets import make_regression

# Generate a synthetic dataset
X, y = make_regression(n_samples=100, n_features=5, random_state=42)

# Create the Decision Tree Regressor
dt_model = DecisionTreeRegressor(random_state=42)

# Define the parameter grid for grid search
param_grid = {
    'max_depth': [5, 10,15,25,50],
    'min_samples_split': [2, 5, 10, 15,20,25,30],
    'min_samples_leaf': [1, 2, 4,6,8,10],
    'max_features': ['auto', 'sqrt', 'log2']
}

# Define the scoring metric as mean absolute error
scorer = make_scorer(mean_absolute_error, greater_is_better=False)

# Perform grid search cross-validation
grid_search = GridSearchCV(estimator=dt_model, param_grid=param_grid, cv=5, scoring=scorer)
grid_search.fit(train[feat], train[target])

# Retrieve the best parameters and best score
best_params = grid_search.best_params_
best_score = -grid_search.best_score_  # Convert negative MAE back to positive

print("Best parameters:", best_params)
print("Best mean absolute error:", best_score)

Best parameters: {'max_depth': 5, 'max_features': 'auto', 'min_samples_leaf': 4, 'min_samples_split': 20}
Best mean absolute error: 372.79044055902494

In [371]:
#Decision tree
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(max_depth = 10, min_samples_leaf = 100, min_samples_split = 5)
dt.fit(train[feat], train[target])

DecisionTreeRegressor(max_depth=10, min_samples_leaf=100, min_samples_split=5)

In [372]:
train["dec_pred"] = dt.predict(train[feat])

In [373]:
scores(train[target],train["dec_pred"])

 R2 Score is 0.8202009546238641
 Mean Sq Erro is 320057.527623014
 Root MSE is 565.7362703795948
 Mean Abs Error is 356.3369361693606

In [374]:
val["dec_pred"] = dt.predict(val[feat])

In [375]:
scores(val[target],val["dec_pred"])

 R2 Score is 0.8128982048148956
 Mean Sq Erro is 337741.8799475466
 Root MSE is 581.1556417583388
 Mean Abs Error is 367.90667324477636

In [188]:
#Random Forest
#n_estimators = 200 ,max_depth = 50, min_samples_leaf = 5, min_samples_split = 30
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 200,max_depth = 10, min_samples_leaf = 100, min_samples_split = 5)
rf.fit(train[feat], train[target])

C:\Users\khann\AppData\Local\Temp\ipykernel_22276\399986813.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(train[feat], train[target])

RandomForestRegressor(max_depth=10, min_samples_leaf=100, min_samples_split=5,
                      n_estimators=200)

In [189]:
train["rf_pred"] = rf.predict(train[feat])

In [190]:
scores(train[target],train["rf_pred"])

 R2 Score is 0.8208910366035107
 Mean Sq Erro is 318829.1232574579
 Root MSE is 564.6495579184118
 Mean Abs Error is 351.37102175074597

In [191]:
val["rf_pred"] = rf.predict(val[feat])

In [192]:
scores(val[target],val["rf_pred"])

 R2 Score is 0.8156891532899075
 Mean Sq Erro is 332703.87278222403
 Root MSE is 576.8048827655882
 Mean Abs Error is 361.45882216699556

In [439]:
# xgboost
#Best hyperparameters: {'max_depth': 5, 'n_estimators': 100, 'reg_alpha': 0.1, 'reg_lambda': 1.0}
from xgboost import XGBRegressor
xg_reg = XGBRegressor(n_estimators = 100,max_depth = 4,reg_alpha=0.1, reg_lambda=1)
xg_reg.fit(train[feat], train[target])

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=4, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [440]:
train["xg_pred"] = xg_reg.predict(train[feat])

In [441]:
scores(train[target],train["xg_pred"])

 R2 Score is 0.8755007723829051
 Mean Sq Erro is 221619.16877113192
 Root MSE is 470.76445147348574
 Mean Abs Error is 305.2887134958784

In [442]:
val["xg_pred"] = xg_reg.predict(val[feat])
scores(val[target],val["xg_pred"])

 R2 Score is 0.8174968649388186
 Mean Sq Erro is 329440.72968890256
 Root MSE is 573.9692759102203
 Mean Abs Error is 362.10749029254714

In [445]:
test.head()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,xg_pred
0,15289,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.399367,0.408088,31.394569,4360.574219
1,15290,12.5,0.25,0.25,0.75,0.63,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.488048,0.442866,36.846956,6625.844727
2,15291,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.583379,0.487057,40.037644,7186.819824
3,15292,25.0,0.50,0.38,0.38,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.433014,0.422847,33.116091,4763.848633
4,15293,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,24.0,0.39,0.360996,0.388860,29.558019,3761.255615

In [444]:
test['xg_pred'] = xg_reg.predict(test[feat])

In [453]:
xg_sub1 = test[['id','xg_pred']].rename(columns={'xg_pred':'yield'})

In [456]:
xg_sub1 = xg_sub.to_csv('xg_sub1.csv')

In [451]:
sample_sub

          id     yield
0      15289  6025.194
1      15290  6025.194
2      15291  6025.194
3      15292  6025.194
4      15293  6025.194
...      ...       ...
10189  25478  6025.194
10190  25479  6025.194
10191  25480  6025.194
10192  25481  6025.194
10193  25482  6025.194

[10194 rows x 2 columns]